{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1><img class="mb-2" src="static/pict_1.png" alt="" width="24" height="24">
Please contact</h1>
    <p class="lead"><big><br>You can always call us, write to the mail or find in social networks.</big></br>
        <br>You can always call the numbers:
        <br>+48 577-683-861 - <b>Ilja Kavaleu</b>
        <br>+48 ***-***-*** - <b>Bartosz Stanislawski</b>
        <br>+48 ***-***-*** - <b>Maciej Makowski</b></br>

        <b><br>Or Gmail:</b>
        <br>kavaleuilia@gmail.com
        <br>bart@gmail.com
        <br>mako@gmail.com

    <br><br>Thank you!
    </p>
</div>
{% endblock %}




