{% extends 'base.html' %}

{% block title %}
<h1></h1>
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1><img class="mb-2" src="static/pict_1.png" alt="" width="24" height="24">
Our location</h1>
    <p class="lead"><br><big>We are based in Tricity.</big></br>
<br>-Gdansk</br>
<br>-Sopot</br>
<br>-Gdynia</br>
<br>-Wejherowo</br>

<br><big>With the ability to travel to nearby cities.</big></p>

      <br><img class="mb-2" src="static/trojmiato_pict.png" alt="" width="1320" height="800">

</div>
{% endblock %}




