{% extends 'base.html' %}

{% block title %}
<h1></h1>
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1><img class="mb-2" src="static/pict_1.png" alt="" width="24" height="24">
Our service</h1>
    <p class="lead"><br>
        <br><title>SERVICES</title>
<big>We work only by appointment!</big>
        <br><br><big>Our bartenders have all the necessary equipment to serve your evening. Professional equipment of the highest quality, coupled with the work of masters, will give you the best service!</big>

<br>
        <br>
    <br><big>PRICES:</big>
<br>
        <br><big>Classic package:</big>
            <br>Service of the event from 17:00 to 00:00: 1000 zl: 3-4 bartenders.</br>

        <br><big>Advanced package:</big>
            <br>Service of the event from 17:00 to 03:00: 1500 zl: 3-4 bartenders.</br>

        <br><big>Mega package:</big>
            <br>Service of the event from 17:00 to 07:00: 2000 zl: 3-4 bartenders.</br>
<br><big>Plus prep time.
            <br>Also a lot depends on your preferences (see above).


<br>In the case of a huge order, if possible and depending on the employment of bartenders with orders, 8 bartenders of the highest category can immediately enter into business!</p>
</div></big>
{% endblock %}




