{% extends 'base.html' %}
{% block title %}
<h1></h1>
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1><img class="mb-2" src="static/pict_1.png" alt="" width="24" height="24">
All text on the site</h1>

    {% if articles|length > 0 %}
        {% for element in articles %}
        <div class="alert alert-info">
            <h2>{{ element.title }}</h2>
            <p>{{ element.intro }}</p>
            <p><b>Date: {{ element.date.date() }}</b></p>
            <a href="/posts/{{ element.id }}" class="btn btn-warning">More</a>
        </div>
        {% endfor %}
    {% else %}
    <p>There are no posts on the site yet! </p>
    {% endif %}
</div>
{% endblock %}




